[submodule "themes/hugo-theme-jane"]
	path = themes/hugo-theme-jane
	url = https://github.com/xianmin/hugo-theme-jane.git
[submodule "themes/HugoTheme-VibrantShadows"]
	path = themes/HugoTheme-VibrantShadows
	url = https://github.com/Softorage/HugoTheme-VibrantShadows.git
