.notice {
  padding: 1rem;
  margin: 1rem 0;
  border-left: 5px solid;
  border-radius: 6px;
}

.notice-title {
  font-weight: bold;
  margin-bottom: 0.5rem;
  display: block;
}

.notice-warning {
  background-color: #ffecec;
  border-color: #ff5c5c;
  color: #990000;
}

.notice-info {
  background-color: #e6f7ff;
  border-color: #3399ff;
  color: #003366;
}

.notice-note {
  background-color: #f6f6f6;
  border-color: #999999;
  color: #333333;
}

.notice-tip {
  background-color: #e9fbe5;
  border-color: #33cc33;
  color: #225522;
}